{% extends 'base.html' %}

{% block content %}
                    <div class="container text-center pt-5">
                        <h1>Crear ejercicio</h1>
                        <div class='jumbotron'>
                            <div class="text-left" style="max-width:500px">
                              <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                {{ register_form }}
                                <br>
                                <center><button type="submit" class="btn btn-success btn-lg">Registrar Ejercicio</button></center>
                              </form>
                            </div>
                        </div>
                      </div>
{% endblock %}
